body{
    display: flex;
    justify-content: center;
    background-color: rgb(55, 108, 109);
}
.calculator{
    border-radius: 10%;
    margin:50px 0;
    position: fixed;
    overflow:hidden;
    background-color: black;

}

.btn{
    height:50px;
    width:50px;;
    border-radius: 50%;
    border: none; 
    cursor:pointer; 
    font-size: large;
    transition: background-color 0.5s ease;
    
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    margin:30px;
    

}
#display{
    width:100%;
    padding:25px;
    background-color: rgba(255, 215, 163, 0.864);
    border: none;
    cursor:pointer;
    font-size:25px;
    color: #000000;
    overflow:hidden;
    
    
}
.equal{
    grid-column: span 3;
    height:50px;
    width:90%;
    
}
.btn:hover{
    background-color: rgb(98, 93, 93);
}
.equal:hover{
     background-color: rgb(239, 165, 87);
}


